<footer class="footer bg-dark text-white py-4">
    <div id="rescale-img">
        <img src="/assets/images/energy_lines.webp" alt="Kainos footer" class="footer-img"/>
    </div>
    </div>
    <div class="container text-center">
        <div>
            <a href="mailto:info@kainos.com" class="text-white mx-2">
                <i class="fa-solid fa-envelope"></i>
                info@kainos.com
            </a>
            <a href="tel:+48 58 882 66 80" class="text-white mx-2">
                <i class="fa-solid fa-phone"></i>
                +48 58 882 66 80
            </a>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <a href="https://www.facebook.com/KainosSoftware/" class="text-white mx-2">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a href="https://twitter.com/KainosSoftware" class="text-white mx-2">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/company/kainos/" class="text-white mx-2">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>
        <p>&copy; Copyright © 2024 Kainos. Registered in NI NI019370</p>
    </div>
</footer>
