{% extends "base.html" %}

{% block title %} Job roles list {% endblock %}


{% block content %}
<div>
    <div class="container">

    <h3>Job Role List</h3>
    {% if errormessage %}
        <h5>{{ errormessage }}</h5>
    {% endif %}

        {% for jobRole in jobRoles %}
            <div class="card mb-4 col-12">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        <div class="card-role-name">{{ jobRole.roleName }}</div>
                        <div class="card-closing-date">Valid until: {{ jobRole.closingDate }}</div>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ jobRole.jobRoleLocation }} {{ jobRole.capabilityName }}
                    </h6>
                    <p class="card-text">
                        <strong>Band Name:</strong> {{ jobRole.bandName }}<br>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}