{% extends "base.html" %} {% block title %} Job roles list {% endblock %} {%
block content %}

<div class="hero-section">
	<div id="hero-img">
		<img src="/assets/images/energy_lines.webp" alt="" />
	</div>
<h2>Find your new path</h2>
</div>
<div class="container job-list-container">
	{% include "job-role-filter.html" %}
	<div class="container job-list">
		<div class="container-nav">
			<h3>Job Role List</h3>
			{% if userRole=='Admin' %}
				<div>
					<a href="/job-roles/bulk-import" class="btn btn-outline-primary">Bulk import roles</a>
				</div>
			{% endif %}
		</div>

		{% if errormessage %}
		<h5>{{ errormessage }}</h5>
		{% else %}
		<div class="card-container">
			{% for jobRole in jobRoles %}
			<a href="/job/{{ jobRole.jobRoleId }}" class="card mb-4 col-12">
				<div class="card-body">
					<h5 class="card-title d-flex justify-content-between">
						<div class="card-role-name role-name">{{ jobRole.roleName }}</div>
						<div class="card-closing-date valid-date">Valid: {{ jobRole.closingDate | formatDate }}</div>
					</h5>
					<div class="card-subtitle mb-2 card-content text-muted d-flex flex-row gap-3">
                        <div class="card-location-info location"><i class="fa-solid fa-location-dot"></i> {{ jobRole.jobRoleLocation }}</div>
					</div>

					<div class="card-subtitle mb-2 card-content text-muted d-flex flex-row gap-3">
						<div class="card-capability-info capability"><i class="fa-solid fa-briefcase"></i> Capability: {{ jobRole.capabilityName }}</div>
					</div>
					<div class="card-subtitle mb-2 card-content text-muted d-flex flex-row gap-3">
						<div class="card-band-info band"><i class="fa-solid fa-signal"></i></i> Band: {{ jobRole.bandName }}</div>
					</div>
				</div>
			</a>
			{% endfor %} {% endif %}
		</div>
	</div>
</div>

{% endblock %}
