@font-face {
    font-family: 'KainosFont';
    src: url('../fonts/GOTHICB.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'KainosFont';
    src: url('../fonts/GOTHICI.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'KainosFont';
    src: url('../fonts/GOTHICBI.TTF') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'KainosSecondary';
    src: url('../fonts/FoundryGridnik\ Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-blue: #283583;
    --main-green: #61a83f;
    --main-white: #ffffff;
    --main-mid-blue: #41679f;
    --main-mid-green: #004631;
    --main-grey: #575756;
    --second-orange: #ec6608;
    --second-green: #cfd600;
    --second-blue: #009fe3;
}
  

body {
    font-family: 'KainosFont', 'KainosSecondary', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */
body {
    display: flex;
    margin: 15px 0px;
}

body header {
    margin: 30px 0px;
}

body header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

body header nav a img {
    height: 40px;
}

/* MAIN */

/* FOOTER */